@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Välkommen till min Produktkatalog</h1>
    <h3>Vänligen logga in eller skapa ett konto för att få tillgång till resterande av sidan.</h3>
</div>
