@model ASP.NET_Core_Mvc_Project.Models.ViewModels.ProductsViewModel

@{
    ViewData["Title"] = "ProductFromId";
}



@{
    var item = Model;
    <h1>@item.Name</h1>
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <p class="card-price">Pris: @item.Price kr</p>
                <p class="card-text">@item.Description</p>
            </div>
        </div>
    </div>
}